<div>
    <div class="modal-header">
        <h4 class="modal-title">File</h4>
        <button type='button' class='modalClose' data-dismiss='modal' aria-hidden='true' (click)='cancel()'>&times;</button>
    </div>

    <div class="modal-body">
        <div>
            <p>Ez a funkció jelenleg sajnos nem elérhető!</p>
            <p>Kérem próbálja meg máskor!</p>
        </div>
    </div>

    <div class='modal-footer'>
        <button type='button' class='back-button' data-dismiss='modal' (click)='cancel()'>
            <span>Bezárás</span>
        </button>
    </div>

</div>
