<div>
    <div class='h3'>
        Jelenlegi kurzusok
        <hr class='header'>
    </div>

    <div *jhiHasAnyAuthority="'TEACHER'" class='container-2'>
        <button class='button' routerLink='/newCourse' routerLinkActive='active'>
            <fa-icon icon='plus'></fa-icon>
            Új kurzus
        </button>
    </div>

    <div class='container-fluid2' *ngFor='let card of cardCourse'>
        <mat-card class='cards'>
            <mat-card-header>
                <mat-card-title>{{card.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <span>Tanár neve: {{card.creator.firstName}} {{card.creator.lastName}} </span>
                </div>
                <div>
                    <span>Leírás: {{card.description}} </span>
                </div>
                <div>
                    <span>Létrehozás dátuma: {{card.creationDate | date}} </span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/editCourse', card.id]">Módosítás</button>
                <button mat-button (click)='deleteCourse(card)'>Törlés</button>
                <button mat-button [routerLink]="['/course', card.id]">Részletek</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
