<div>
    <div class='h3'>
        Kurzus módosítása
        <hr class='courseHeader'>
    </div>
    <div class='editCourseFormContainer'>
        <div class='row justify-content-center'>
            <div class='col-8'>
                <div *ngIf='course'>
                    <form class='form' role='form' (ngSubmit)='edit()' [formGroup]='editForm'>
                        <div class='form-group' [hidden]='!course.id'>
                            <label class='form-control-label'>ID</label>
                            <input class='form-control' type='number' name='id' formControlName='id'
                                   readonly><br>
                        </div>
                        <div class='form-group'>
                            <label class='form-control-label'>Kurzus neve</label>
                            <input class='form-control' type='text' name='name' formControlName='name'><br>
                        </div>
                        <div class='form-group'>
                            <label class='form-control-label'>Kurzus leírása</label>
                            <input class='form-control' type='text' name='description'
                                   formControlName='description'><br>
                        </div>
                        <div class='container'>
                            <button class='button' type='submit'>
                                <span>Módosítás</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class='container'>
                    <button class='back-button' (click)='backTo()'>Vissza</button>
                </div>
            </div>
        </div>
    </div>
</div>
