<div>
    <div class='h3'>
        Új kurzus létrehozása
        <hr class='courseHeader'>
    </div>
    <div class='courseFormContainer'>
        <div class='row justify-content-center'>
            <div class='col-8'>
                <form class='form' role='form' (ngSubmit)='create()' [formGroup]='createForm'>
                    <div class='form-group'>
                        <label class='name-label' for='name'>Kurzus neve</label>
                        <input class='form-control' type='text' name='name' id='name' placeholder='Új kurzus neve...'
                               formControlName='name'><br>
                    </div>
                    <div class='form-group'>
                        <label class='description-label' for='description'>Kurzus leírása</label>
                        <input class='form-control' type='text' id='description' name='description'
                               placeholder='Új kurzus leírása...' formControlName='description'><br>
                    </div>
                    <div class='container'>
                        <button class='button' type='submit'>Új kurzus létrehozás</button>
                        <br>
                        <br>
                        <button class='back-button' (click)='backTo()'>Vissza</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
