@use '../abstracts' as *;

.taskH_buttonCont {
  margin-left: 62vw;
  width: 700px;
}

.mainButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.courseButtonCont {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.new_task {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.collapsibles {
  display: grid;
  justify-content: center;
  align-items: center;
}

.collapsible {
  margin-top: 20px;
  width: 75vw;
  min-height: 120px;
  background: $lightCyan;
  color: $black;
  border-radius: 10px;
  border: 2px solid $darkCornflower;
}

table {
  width: 100%;
}

.studentWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.studentCard {
  display: grid;
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid $darkCornflower;
  background-color: $middleBlue;
  justify-items: center;
  margin-block: 10px;
}

@media (min-width: 680px) {
  .mainButtonsContainer {
    margin-right: 10vw;
  }
  span.iconSpan {
    display: none;
  }
  span.textSpan {
    display: inline-block;
  }
}

@media (max-width: 680px) {
  span.iconSpan {
    display: inline-block;
  }
  span.textSpan {
    display: none;
  }
  .button {
    padding: 10px 25px;
  }
}
