@use '../abstracts' as *;

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  @include background('/content/images/reading_icon.png');
  background-size: contain;
}

.login {
  display: inline-block;
  width: 347px;
  height: 497px;
  @include background('/content/images/login.jpg');
  background-size: contain;
}
