@use '../abstracts' as *;

.loginFalse,
.loginTrue {
  justify-content: center;
  display: grid;
  margin-top: 8rem;
}

.welcomeHeader {
  text-align: center;
  font-size: 70px;
}

.welcomeInfo {
  text-align: center;
  font-size: 25px;
}

.welcomeButtonCont {
  display: grid;
  justify-content: center;
}
