@use '../abstracts' as *;

.container {
  display: grid;
  margin-top: 4rem;
  min-height: 170px;
}

#completeWrapper {
  border: 2px solid $darkCornflower;
  min-height: 100px;
}

#helpWrapper {
  border: 2px solid $darkCornflower;
  min-height: 100px;
}

label {
  background: $darkCornflower;
  color: $lightCyan;
}

.taskButtonContStudent,
.taskButtonContTeacher {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

@media (min-width: 1260px) {
  label {
    width: 535px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .taskButtonContStudent,
  .taskButtonContTeacher {
    gap: 5rem;
  }
}

@media (max-width: 1260px) {
  label {
    width: 400px;
  }
  .container {
    height: 600px;
  }
  .taskButtonContStudent,
  .taskButtonContTeacher {
    gap: 2.5rem;
  }
}

@media (max-width: 680px) {
  .taskButton {
    padding: 10px 25px;
  }
  .taskButtonContStudent,
  .taskButtonContTeacher {
    gap: 1rem;
  }
}
