@use '../abstracts' as *;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 4rem;
  min-height: 170px;
}

#completeWrapper {
  border: 2px solid $starCommandBlue;
  min-height: 100px;
}

#helpWrapper {
  border: 2px solid $starCommandBlue;
  min-height: 100px;
}

label {
  width: 535px;
  background: $starCommandBlue;
  color: $lightCyan;
}

.taskButtonCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  width: 40vw;
  margin-left: 30vw;
}

.commentTextArea {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

textarea {
  width: 500px;
  height: 108px;
}

.comments {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}
