@use '../abstracts' as *;

.container {
  text-align: center;
  border: none;
  width: 100px;
  height: 50px;
  margin-top: 5px;
}

.container-2 {
  text-align: right;
  margin-right: 10%;
  border: none;
}

.container-3 {
  margin-top: 2rem;
}

.jh-card {
  min-height: 50rem;
}

.form {
  text-align: center;
}

.container-fluid2 {
  background-color: $starCommandBlue;
  width: 350px;
  margin-top: 10px;
  margin-left: 20px;
}

.justify-content-center {
  margin: 20px auto;
}

.justify-content-center {
  margin: 20px auto;
}
