.container {
  text-align: center;
  border: none;
  width: 100px;
  height: 50px;
  margin-top: 5px;
}

.container-2 {
  text-align: right;
  margin-right: 10%;
  border: none;
}

.jh-card {
  min-height: 50rem;
}

.form {
  text-align: center;
}

.container-fluid2 {
  background-color: #0f80aa;
  width: 350px;
  margin-top: 10px;
  margin-left: 20px;
}

.justify-content-center {
  margin: 20px auto;
}

.newCourseFormContainer {
  margin: 80px auto;
  align-items: center;
  border: 2px solid #0d5aa7;
  border-radius: 10px;
  box-shadow: 0 0 10px #0f80aa;
  width: 1000px;
  height: 400px;
}

.editCourseFormContainer {
  margin: 80px auto;
  align-items: center;
  border: 2px solid #0d5aa7;
  border-radius: 10px;
  box-shadow: 0 0 10px #0f80aa;
  width: 1000px;
  height: 500px;
}
