<div>
    <div class='h3'>
        {{task.name}}
        <hr class='header'>
    </div>

    <div class="container">
        <div>
            <label for="complete">Befejezték</label>
            <div id="complete">Még senki nem fejezte be a feladatott...</div>
        </div>
        <div>
            <label for="help">Segítséget kérnek</label>
            <div id="help">Senki nem kért segítséget még ehez a feladatohoz...</div>
        </div>
    </div>

    <div class='taskButtonCont'>
        <button class='taskButton' (click)="fileUpload(task)">Fájl feltöltése</button>
        <button class='taskButton'>Feledat lezárása</button>
        <button class='taskButton'>Feltöltött fájlok</button>
    </div>

    <div class="commentTextArea">
        <textarea></textarea>
        <button class='commentBut'>
            <fa-icon [icon]="faCommentDots"></fa-icon>
        </button>
        <button class='commentBut'><fa-icon [icon]="faFile"></fa-icon></button>
    </div>

    <div class="comments">
        <div>Még senki nem szólt hozzá!</div>
    </div>

</div>
