$midnightBlue: hsl(239, 94%, 19%);
$darkCornflower: hsl(214, 97%, 27%);
$starCommandBlue: hsl(201, 100%, 36%);
$middleBlue: hsl(190, 74%, 59%);
$lightCyan: hsl(190, 77%, 88%);

$onyx: hsl(210, 10%, 23%);
$sonicSilver: hsl(208, 7%, 46%);
$lightGray: hsl(210, 14%, 89%);

$black: hsl(0, 0%, 0%);

$darkRed: hsl(358, 97%, 31%);
$rossoCorsa: hsl(0, 100%, 41%);
$vermillion: hsl(12, 98%, 44%);
