<div>
  <div class="modal-header">
    <div class="editCourseHeader"><h4 class="modal-title">Kurzus szerkesztése</h4></div>
    <button type="button" class="modalClose" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div *ngIf="course" class="modal-body">
    <form class="form" role="form" (ngSubmit)="edit()" [formGroup]="editForm">
      <div class="form-group" [hidden]="!course.id">
        <label class="form-control-label">ID</label>
        <input class="form-control" type="number" name="id" formControlName="id" readonly /><br />
      </div>
      <div class="form-group">
        <label class="form-control-label">Kurzus neve</label>
        <input class="form-control" type="text" name="name" formControlName="name" />
        <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Kurzusnév nem lehet üres! </small>

          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.maxlength"> Túl hosszú kurzusnév! </small>

          <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.minlength"> Túl rövid kurzusnév! </small>
        </div>
        <br />
      </div>
      <div class="form-group">
        <label class="form-control-label">Kurzus leírása</label>
        <input class="form-control" type="text" name="description" formControlName="description" />
        <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.maxlength"> Túl hosszú leírás! </small>
        </div>
        <br />
      </div>

      <div class="modal-footer">
        <button class="back-button" (click)="cancel()">Vissza</button>
        <button class="button" type="submit">Módosítás</button>
      </div>
    </form>
  </div>
</div>
