@use '../abstracts' as *;

.button,
.back-button,
.taskButton,
.delete-button,
.welcomeButton {
  padding: 15px 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
}

.button {
  background: $darkCornflower;
  color: $lightCyan;
  margin-bottom: 10px;

  &:hover {
    color: $black;
    background: $middleBlue;
  }
}

.back-button {
  background: $onyx;
  color: $lightCyan;

  &:hover {
    color: $black;
    background: $sonicSilver;
  }
}

.courseDescButtom,
.studentsButton,
.filesButton {
  padding: 15px 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  background: $darkCornflower;
  color: $lightCyan;
  float: left;
  width: 25vw;

  &:hover {
    color: $black;
    background: $middleBlue;
  }
}

.courseDescButtom {
  border-right: 1px solid $black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.studentsButton {
  border-left: 1px solid $black;
  border-right: 1px solid $black;
}

.filesButton {
  border-left: 1px solid $black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.taskButton {
  background: $darkCornflower;
  color: $lightCyan;
  float: left;

  &:hover {
    color: $black;
    background: $middleBlue;
  }
}

.delete-button {
  background: $darkRed;
  color: $lightCyan;
  cursor: pointer;

  &:hover {
    color: $black;
    background: $vermillion;
  }
}

.back-button {
  padding: 15px 50px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, #7d8597, #5c677d, #33415c, #5c677d, #7d8597);
  color: #e8e8e4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    color: #03071e;
    background: linear-gradient(0.5turn, #33415c, #5c677d, #7d8597, #5c677d, #33415c);
  }
}

.commentBut {
  margin-top: 35px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: $darkCornflower;
  color: $lightCyan;
  border-radius: 5px;
  border: none;

  &:hover {
    color: $black;
    background: $middleBlue;
  }
}

.welcomeButton {
  margin-top: 15px;
  padding: 15px 50px;
  background: $darkCornflower;
  color: $lightCyan;

  &:hover {
    color: $black;
    background: $middleBlue;
  }
}

.modalClose {
  margin-right: -38px;
  margin-top: -35px;
  border-radius: 50%;
  background-color: $darkCornflower;
  border: 2px solid $lightCyan;
  color: $lightCyan;
  min-width: 45px;
  min-height: 45px;
  font-size: 25px;

  &:hover {
    background-color: $starCommandBlue;
  }
}

.cardButtonLeft,
.cardButtonMiddle,
.cardButtonRight {
  text-transform: uppercase;
  background: $darkCornflower;
  color: $lightCyan;
  border: none;
  height: 40px;
  float: left;

  &:hover {
    color: $black;
    background: $middleBlue;
    border-top: 2px solid $black;
  }
}

.form-checkBox {
  display: flex;
  margin-left: 30px;
  transform: scale(1.5);
}

.cardButtonLeft {
  border-bottom-left-radius: 6.8px;
  width: 135px;
  border-right: 1px solid $black;
}

.cardButtonMiddle {
  width: 126px;
  border-right: 1px solid $black;
  border-left: 1px solid $black;
}

.cardButtonRight {
  width: 135px;
  border-bottom-right-radius: 6.8px;
  border-left: 1px solid $black;
}
