.button {
  padding: 15px 50px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(213, 65%, 33%), hsl(196, 84%, 36%));
  color: hsl(26, 100%, 92%);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    color: black;
    background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(180, 51%, 50%), hsl(196, 84%, 36%));
  }
}

.back-button {
  padding: 15px 50px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, hsl(220, 15%, 43%), hsl(220, 29%, 28%), hsl(220, 15%, 43%));
  color: hsl(26, 100%, 92%);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    color: black;
    background: linear-gradient(0.5turn, hsl(220, 15%, 43%), hsl(219, 12%, 71%), hsl(220, 15%, 43%));
  }
}

.tasksButton {
  padding: 10px 40px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(213, 65%, 33%), hsl(196, 84%, 36%));
  color: hsl(26, 100%, 92%);
  border: none;
  font-weight: 650;
  font-size: 0.8rem;
  cursor: pointer;
  float: left;
  width: 25vw;

  &:hover {
    color: black;
    background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(180, 51%, 50%), hsl(196, 84%, 36%))
  }
}

.taskButton {
  padding: 10px 40px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(213, 65%, 33%), hsl(196, 84%, 36%));
  color: hsl(26, 100%, 92%);
  border: none;
  font-weight: 650;
  font-size: 0.8rem;
  cursor: pointer;
  float: left;

  &:hover {
    color: black;
    background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(180, 51%, 50%), hsl(196, 84%, 36%))
  }
}

.delete-button {
  padding: 15px 50px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, #e85d04, #dc2f02, #d00000, #dc2f02, #e85d04);
  color: #e8e8e4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    color: #03071e;
    background: linear-gradient(0.5turn, #d00000, #dc2f02, #e85d04, #dc2f02, #d00000);
  }
}

.back-button {
  padding: 15px 50px;
  text-transform: uppercase;
  background: linear-gradient(0.5turn, #7d8597, #5c677d, #33415c, #5c677d, #7d8597);
  color: #e8e8e4;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    color: #03071e;
    background: linear-gradient(0.5turn, #33415c, #5c677d, #7d8597, #5c677d, #33415c);
  }
}

.commentBut{
  margin-top: 35px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(213, 65%, 33%), hsl(196, 84%, 36%));
  color: hsl(26, 100%, 92%);
  border-radius: 5px;
  border: none;

  &:hover {
    color: black;
    background: linear-gradient(0.5turn, hsl(196, 84%, 36%), hsl(180, 51%, 50%), hsl(196, 84%, 36%))
  }
}
