@use '../abstracts' as *;

.commentCard {
  margin-top: 10px;
}

.commentFooter {
  margin-bottom: 5px;
}

.author {
  padding-inline: 5px;
}

.commentText {
  width: fit-content;
  max-width: 42vw;
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 10px;
  background: $darkCornflower;
  font-size: 1.125rem;
  color: $lightCyan;
}

.commentDate {
  padding-inline: 5px;
}

.commentWrapper {
  width: fit-content;
  max-width: 42vw;
  font-size: 0.9rem;
}

.deleteComment {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  float: right;
  margin-right: -22px;
  margin-top: -28px;

  &:hover {
    color: $rossoCorsa;
  }
}
