@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: #90e0ef;
}

.dropdown-item {
  color: #023e8a;
}

.dropdown-item:hover {
  color: #caf0f8;
}
