@use '../abstracts' as *;

.loginHeader {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: $lightCyan;
}

.modal-header {
  background: $darkCornflower;
}

.loginButtons {
  min-height: 50px;
}

.modal-content {
  margin-top: 8rem;
}
