@use '../abstracts' as *;

.modal-header {
  background-color: $darkCornflower;
  color: $lightCyan;
}

.modal-body {
  font-size: $font-size;
}

.modalIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 36px;
}

.fileUpload{
  align-self: flex-start;
  border: 2px solid hsl(196, 84%, 36%);;
  background-color: hsl(213, 65%, 33%);
  border-radius: 5px;
  color: hsl(26, 100%, 92%);
  cursor: auto;
  max-inline-size: 100%;
  padding: 0;
  width: 25vw;
}
