@use '../abstracts' as *;

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background: linear-gradient(0.5turn, #1d4e89, #1d4e89, #1d4e89, #0899ba);

  .dropdown-item.active:hover {
    background-color: #90e0ef;
  }

  .dropdown-item {
    color: #023e8a;
  }

  .dropdown-item:hover {
    color: #caf0f8;
  }

  a.nav-link {
    font-weight: 400;
  }
}

.logo-img {
  display: inline-block;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  @include background('/content/images/logo-jhipster.png');
  background-size: contain;
}
