@use '../abstracts' as *;

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background: $darkCornflower;

  .dropdown-item.active:hover {
    background-color: $middleBlue;
  }

  .dropdown-item {
    color: $midnightBlue;
  }

  .dropdown-item:hover {
    color: $lightCyan;
  }

  a.nav-link {
    font-weight: 400;
  }
}

.logo-img {
  display: inline-block;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  @include background('/content/images/logo-jhipster.png');
  background-size: contain;
}
