@use '../abstracts' as *;
@use '../utilities' as *;

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: #023e8a;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

.logo-img {
  display: inline-block;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  @include background('/content/images/logo-jhipster.png');
  background-size: contain;
}
