#taskListHeader{
  background-color: hsl(213, 65%, 33%);
  color: hsl(26, 100%, 92%);
}

.mat-cell{
  max-width: 300px;
  min-width: 100px;
  padding-right: 10px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 12px !important;
  text-align: center !important;
}

.tableDesc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
