<div>
  <div class="h3">
    {{ course.name }}
    <hr class="header" />
  </div>
  <div class="mainButtonsContainer">
    <button *jhiHasAnyAuthority="'TEACHER'" class="button" (click)="courseInvite(course)">Diákok meghívása</button>
    <button class="button" (click)="taskList(course)">Feladatok</button>
    <button class="button" (click)="fileUpload(course)">Fájlfeltöltés</button>
  </div>

  <div class="courseButtonCont">
    <button class="courseDescButtom" (click)="descCollapsed = !descCollapsed" [attr.aria-expanded]="!descCollapsed">
      <span class="textSpan">Kurzus leírása</span>
      <span class="iconSpan"><fa-icon size="3x" [icon]="faPen"></fa-icon></span>
    </button>
    <button class="studentsButton" (click)="studentCollapsed = !studentCollapsed" [attr.aria-expanded]="!studentCollapsed">
      <span class="textSpan">Diákok a kurzuson</span>
      <span class="iconSpan"><fa-icon size="3x" [icon]="faPeopleArrows"></fa-icon></span>
    </button>
    <button class="filesButton" (click)="fileCollapsed = !fileCollapsed" [attr.aria-expanded]="!fileCollapsed">
      <span class="textSpan">Feltöltött fájlok</span>
      <span class="iconSpan"><fa-icon size="3x" [icon]="faFile"></fa-icon></span>
    </button>
  </div>

  <div class="collapsibles">
    <div id="courseDesc" [ngbCollapse]="descCollapsed" class="collapsible">
      {{ course.description }}
    </div>
    <div id="courseStudents" [ngbCollapse]="studentCollapsed" class="collapsible">
      <div class="studentWrapper">
        <div class="studentCard" *ngFor="let student of assignedStudents">
          {{ student.firstName }} {{ student.lastName }} - {{ student.email }}
        </div>
      </div>
    </div>

    <div id="fileCollapsed" [ngbCollapse]="fileCollapsed" class="collapsible">
      <div *ngFor="let file of course.files">
        <div class="fileCard" (click)="showFile(course)">
          <div class="fileIcon"><fa-icon size="3x" [icon]="faImage" *ngIf="imageFile(this.file.contentType)"></fa-icon></div>
          <div class="fileIcon"><fa-icon size="3x" [icon]="faFilePdf" *ngIf="pdfFile(this.file.contentType)"></fa-icon></div>
          <div class="fileIcon"><fa-icon size="3x" [icon]="faFileAlt" *ngIf="textFile(this.file.contentType)"></fa-icon></div>
          <div class="fileDate">
            {{ file.uploadDate | date }}
          </div>
          <div class="fileUploader">{{ file.uploadedBy }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="new_task">
    <button *jhiHasAnyAuthority="'TEACHER'" class="button" (click)="newTask(course)">Új feladat</button>
  </div>
</div>

<div class="commentArea">
  <div class="col-12 col-sm-12 commentsHeader">
    <h4>Hozzászólások({{ course.comments.length }})</h4>
  </div>
  <div class="col-12 col-sm-12 body">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <textarea class="form-control" placeholder="Hozzászólás..." formControlName="comment"></textarea>
        <div *ngIf="commentForm.get('comment')!.invalid && (commentForm.get('comment')!.dirty || commentForm.get('comment')!.touched)">
          <small class="form-text text-danger" *ngIf="commentForm.get('comment')?.errors?.required"> A hozzászólás nem lehet üres! </small>

          <small class="form-text text-danger" *ngIf="commentForm.get('comment')?.errors?.maxlength">
            A hozzászolás maximum 100 karakter lehet
          </small>

          <small class="form-text text-danger" *ngIf="commentForm.get('comment')?.errors?.minlength">
            A hozzászolás minimum 6 karakter kell hogy legyen!
          </small>
        </div>
      </div>
      <div class="form-group">
        <button class="commentBut" type="submit" [disabled]="commentForm.invalid">
          <fa-icon [icon]="faCommentDots"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="comments">
  <h6 *ngIf="course.comments.length < 1">Még senki nem szólt hozzá</h6>
  <div class="commentWrapper" *ngFor="let post of course.comments">
    <div class="commentCard">
      <div class="author">{{ post.authorId }}</div>
      <div class="commentText">{{ post.text }}</div>
    </div>
    <div class="deleteComment" *ngIf="allowDelete(post.authorId)" (click)="deleteComment(post.id)">
      <fa-icon [icon]="faTrash"></fa-icon>
    </div>
    <div class="commentFooter">
      <div class="commentDate">{{ post.createDate | date: 'MM.dd HH:mm' }}</div>
    </div>
  </div>
</div>
