<div>
    <div class='h3'>
        {{course.name}}
        <hr class='header'>
    </div>
    <div class='taskH_buttonCont'>
        <button *jhiHasAnyAuthority="'TEACHER'" class='button' (click)='courseInvite(course)'>Diákok meghívása</button>
        <button class='button' (click)='taskList(course)'>Feladatok</button>
        <button class='button' (click)="fileUpload(course)">Fájlfeltöltés</button>
    </div>


    <div class='courseButtonCont'>
        <button class='tasksButton'  (click)="descCollapsed = !descCollapsed" [attr.aria-expanded]="!descCollapsed" >Kurzus leírása</button>
        <button class='tasksButton' (click)="studentCollapsed = !studentCollapsed" [attr.aria-expanded]="!studentCollapsed" >Diákok a kurzuson</button>
        <button class='tasksButton'  (click)="fileCollapsed = !fileCollapsed" [attr.aria-expanded]="!fileCollapsed">Feltöltött fájlok</button>
    </div>
    <div>
        <div id="courseDesc" [ngbCollapse]="descCollapsed" class="collapsible">
            {{course.description}}
        </div>
        <div id="courseStudents" [ngbCollapse]="studentCollapsed" class="collapsible" >
            <div class="studentWrapper">
                <div class="studentCard" *ngFor="let student of assignedStudents">{{student.firstName}} {{student.lastName}} - {{student.email}}</div>
            </div>
        </div>
        <div id="fileCollapsed" [ngbCollapse]="fileCollapsed" class="collapsible">
            <div  *ngFor="let file of course.files">
                <div class="fileCard" (click)="showFile(course)">
                    <div class="fileIcon"><fa-icon size="3x" [icon]="faImage" *ngIf="imageFile(this.file.contentType)"></fa-icon></div>
                    <div class="fileIcon"><fa-icon size="3x" [icon]="faFilePdf" *ngIf="pdfFile(this.file.contentType)"></fa-icon></div>
                    <div class="fileIcon"><fa-icon size="3x" [icon]="faFileAlt" *ngIf="textFile(this.file.contentType)"></fa-icon></div>
                    <div class="fileDate">
                        {{file.uploadDate | date}}
                    </div>
                    <div class="fileUploader">
                        {{file.uploadedBy}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class='new_task'>
    <button *jhiHasAnyAuthority="'TEACHER'" class='button' (click)='newTask(course)'>Új feladat</button>
</div>
