@use '../abstracts' as *;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.header {
  width: 85%;
  text-align: center;
  height: 2px;
  background-color: $darkCornflower;
}

.h3 {
  font-weight: normal;
  margin-top: 15px;
  text-align: center;
  color: $darkCornflower;
}

a {
  color: $lightCyan;
  font-weight: bold;
}

a:hover {
  color: $middleBlue;
}

a:hover {
  cursor: pointer;
}

.loginEmail,
.loginPassword {
  font-size: 1.5rem;
}

label {
  font-size: 1.125rem;
}
