@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #caf0f8;
  font-weight: bold;
}

a:hover {
  color: #00b4d8;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}
