<div class="main">
  <div>
    <div [ngSwitch]="isAuthenticated()">
      <div *ngSwitchCase="true" class="loginTrue">
        <h1 class="welcomeHeader">Üdvözlet!</h1>

        <p class="welcomeInfo">Önnek x értesítése van</p>
      </div>
    </div>

    <div [ngSwitch]="isAuthenticated()">
      <div *ngSwitchCase="false" class="loginFalse">
        <div class="welcomeText">
          <h1 class="welcomeHeader">Üdvözlet az oldalon!</h1>

          <p class="welcomeInfo">Kérlek jelentkezz be az oldal használatához</p>
          <div class="welcomeButtonCont">
            <button class="welcomeButton" (click)="login()">Bejelentkezés</button>
            <button class="welcomeButton" routerLink="account/register">Regisztrálás</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
