<div class="modal-header">
  <div class="loginHeader"><h4 class="modal-title">Bejelentkezés</h4></div>
  <button type="button" class="modalClose" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger" *ngIf="authenticationError">
        <strong>Belépés sikertelen!</strong> Kérem ellenőrizze az adatait és probálja újra!
      </div>
    </div>

    <div class="col-md-8">
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
          <label class="loginEmail" for="email">Email cím</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="példa@példa.com" formControlName="email" #email />
          <div *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.required"> Email cím megadása kötelező! </small>

            <small class="form-text text-danger" *ngIf="loginForm.get('email')?.errors?.email"> Helytelen email cím! </small>
          </div>
        </div>

        <div class="form-group">
          <label class="loginPassword" for="password">Jelszó</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="jelszava..." formControlName="password" />
          <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
            <small class="form-text text-danger" *ngIf="loginForm.get('password')?.errors?.required"> Jelszó megadása kötelező! </small>
          </div>
        </div>
        <div class="loginButtons">
          <button type="submit" class="button">Bejelentkezés</button>
        </div>
      </form>

      <div class="alert alert-warning">
        <span>Ha nem rendelkezne még fiókkal!</span>
        <a class="alert-link" (click)="register()">Regisztrálás</a>
      </div>
    </div>
  </div>
</div>
